
@{

    ViewBag.Title = "AboutUs";
}

<div class="jumbotron mt-4">
    <h4>About Us</h4>
    <img src="~/images/About us copy.jpg"  />

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-3 col-xs-3">
            <h2>Labor:</h2>
            <p>
                Hello Well come to Daily Services.Now here we are setting for you facilitate in your  daily life
                home base problems to solve only a single call.Now here we regitered hihgly skill people that facilitate you on daliy bassis the person
                we hair are given below.
                <b>Labor:</b><br />
                1.Electrical person<br />
                2.Macanical person(Bike,car,Ac)<br />
                3.Plumber Man<br />
                4.Labor<br />
                5.cook<br />
                6.Male or Female servant for home and office<br />
                All These people are all times available to provide service so that you live happy
                in your life.Its Daily serrvices motive or objective
                to provide our customer enjoy with out any tension thaanks to vistit our web site.
            </p>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-3">
            <h2>Academic:</h2>
            <p>
                Now here we register high qualified teacher MPhil, MBBS, MSC, BSC, BBA,IT.that facilitate you
                <br />
                1.Online Teaching<br />
                2.Home base Teacher.<br />
                3.Teacher For School<br />
                4.Teacher For Adcademic<br />
                these people profile in front of you see and conatact them any person to these person if required
                home base teacher for school teacher and Academic you can contact any time any where.



            </p>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-3">
            <h2>Medical:</h2>
            <p>
                Its Your goodness to visit our web sitr here we provide medical service at home base
                now here weregister the Madical field related people that facilitate you<br />
                1.Doctor<br />
                2.Nurses<br />
                3.Baby care<br />
                on phone call you can get any suggesting from doctor and get Appointment on a single call
                not time wasting go to daoctor then fix appointment.<br />
                Yor are also hair nurses for our elder parents that care taker so that yor elder parents live happy
                beacause youhave not enough time to take care of them so this is the best oppurtunity to hire a care taker
                and hire baby care for your children.
            </p>
        </div>
        <div class="col-sm-3 col-lg-3 col-xs-3">
            <h2>Transport:</h2>
            <p>
                In Transport we provide to transport service online to facilitate with air condition transport
                for different events like Marraige, Party Functions Tour and ,  you can pick your choice what you want to enjoy
                our services we register different transport service that directly provide for you also we register cargo taransport
                that facilitate you .<br />
                1.cars<br />
                2.buses<br />
                3.Truk.<br />
                4.Auto rikhsha.

            </p>
        </div>
    </div>
</div>
