@{
    var providersList = ViewBag.Data;
    if (providersList == null)
    {
        <h5>No Service Providers Available For This Category</h5>
    }
    else
    {
        <table class="table">
            <tr>
                <th width="10%">Email</th>
                <th width="10%">First Name</th>
                <th width="10%">Last Name</th>
                <th width="10%"></th>
            </tr>
            @foreach (var item in providersList)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.First_Name</td>
                    <td>@item.Last_Name</td>
                </tr>
            }
        </table>
    }
}
